<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" 
              href="{{ asset('bundles/main/js/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
         <link rel="stylesheet" type="text/css" 
            href="{{ asset('bundles/main/css/form.css') }}">
        
        
        <script src="{{ asset('bundles/main/js/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="{{ asset('bundles/main/js/GuestBookForm/form.js') }}"></script>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <h1>ABC GuestBook</h1>

                <p><i>Please sign in with our GuestBook and leave a message</i></p>
                <br>
                
            </div>
            
            <div class="mainBody">
                {{ form_start(form) }}
                {{ form_errors(form) }}  
                <br>
                <div class="form-group ">
                    <div>{{ form_errors(form.name) }}</div>
                    <label class="col-sm-2">Name</label>
                    <div class="col-sm-4">{{ form_widget(form.name) }}</div>
                </div>
                <br><br><br>
                 <div class="form-group">
                    <div>{{ form_errors(form.address) }}</div>
                    <label class="col-sm-2">Address</label>
                    <div class="col-sm-4">{{ form_widget(form.address) }}</div>
                </div>
    <br><br><br>
                <div class="form-group">
                    <div>{{ form_errors(form.email) }}</div>
                    <label class="col-sm-2">Email</label>
                    <div class="col-sm-4">{{ form_widget(form.email) }}</div>
                </div>
    <br><br>
                 <div class="form-group">
                    <div>{{ form_errors(form.message) }}</div>
                    <label class="col-sm-2">Message</label>
                    <div class="col-sm-4">{{ form_widget(form.message) }}</div>
                </div>

                <br><br><br>
                <div class="form-group">
                    <div class="g-recaptcha col-sm-12" data-sitekey="6LcdoWsUAAAAAGckKeWmMYZUDnv5xPAQRUI33G-Y"></div>
                </div>

                {{ form_end(form) }}

                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button id="btnSubmit" class="btn btn-default">Submit</button> 
                    </div>
                </div>
                <br>
                
                <div id="formGuestBookResultsArea"></div>
                <br>
                <button id="btnGetPaginatedResults">Get Paginated Results</button>
                <br>
                
                <hr>
                
                {{ paginator|raw }}
                <br>
                <hr>
                
                <br>
                <h4 class="subheading">GuestBook Entries</h6>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>IpAddress</th>
                            <th>Platform</th>
                        </tr>
                    </thead>
                    <tbody id="entriesRows">
                    </tbody>
                </table>
                
            </div>
                
        </div>
    </body>
</html>